# Flutter e Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
ENTREGAS/

# IDE
.idea/
.vscode/
*.iml

# Arquivos locais e sigilosos
*.db
*.sqlite
*.sqlite3
*.mra
*.keystore
*.jks
key.properties
ASSINATURA_ANDROID_SECRETS.txt
android/local.properties

# Temporários
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# CMake gerado
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
